*{
	
	box-sizing: border-box;
	font-size: 0;
	--zcolor-primary: #72b0dc;
	--zcolor-background: white;
	--border-size: 3px;
	--border-color: var(--zcolor-primary);
	}

#page{
	
	width: 100%;
	margin: auto;
	}

.entry{
	vertical-align: center;
	text-align: center;	
	}

.postBox{
	width: 28%;
	max-width: 100%;
	display: inline-block;
	margin: 1%;
	
	}

.shirtBox{
	width: 100%;
	background-color: var(--zcolor-background);
	position: relative;
	}

.shirtAndOptions{
	border: var(--border-size) solid var(--border-color);
	}

.rotateIcon{

	color: var(--zcolor-primary);
	position: absolute;
	left: 87%;
	top: 5%;
	}

.shirtImage{
	
	max-width: 100%;
	padding: 10%;
	}

.userOptions{
	border-top: var(--border-size) solid var(--border-color);
	margin: 0%;
	padding: 0%;
	width:100%;
	background: white;
	
	}

.button1,.button2,.button3,.button4,.button5{
	font-size: 0px;
	box-sizing: border-box;
	display: inline-block;
	position: relative;

	}

.optionIcon1,.optionIcon2,.optionIcon3,.optionIcon4,.optionIcon5{
	color: var(--zcolor-primary);
	font-size: 55.2px;
	max-height: 100%;
	border-left: var(--border-size) solid var(--border-color);
	border-right: 0px solid transparent;
	border-top: 0px solid transparent;
	border-bottom: 0px solid transparent;
	}

.optionIcon5 {
	border-right: none;
	}

.optionIcon1 {
	border-left: none;
	}

.sizePopup{

	vertical-align: center;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	background: white;
	border: var(--border-size) solid var(--border-color);
	position: absolute;
	bottom: 123%;
	left: 0;
	right: 0;
	margin-left: auto;
 	margin-right: auto;
 	transform: translateX(3.5%);
	}

.sizeIcon1,.sizeIcon2,.sizeIcon3,.sizeIcon4{
	display: block;
	font-size: 50px;
	padding-left:0%;
	padding-right:0%;
	}

.sizeIcon1{font-size: 50px;} .sizeIcon2{font-size: 45px;} .sizeIcon3{font-size: 40px;} .sizeIcon4{font-size: 35px;}

.colorPopup{

	text-align: center;
 	vertical-align: center;
	position: absolute;
	bottom: 123%;
	left: 0;
	right: 0;
	margin-left: auto;
 	margin-right: auto;
 	transform: translateX(-40%);
 	visibility: hidden;
 	opacity: 0;
	}

.colorIcon1,.colorIcon2,.colorIcon3,.colorIcon4,.colorIcon5{
	display: inline-block;
 	text-align: center;
 	vertical-align: center;
	font-size: 50px;
	background: white;
	border: 0px solid transparent;
	padding:0px;
	margin:0px;
	}

.colorIcon2,.colorIcon4{
	border-right: var(--border-size) solid var(--border-color);
	}
.colorIcon3,.colorIcon4{
	border-bottom: var(--border-size) solid var(--border-color);
	}
.colorIcon1,.colorIcon2{
	border-top: var(--border-size) solid var(--border-color);
	}

.colorIcon1{color:#ff9f1c;} .colorIcon2{color:#e71d36;} .colorIcon3{color:#011627;} .colorIcon4{color:#72b0dc;}

.downArrow{
	width: 0px; 
  	height: 0px; 
  	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
  	border-top: 10px solid var(--zcolor-primary);
	position: absolute;
	text-align: center;
	vertical-align: center;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	bottom:-7%;
	}

.downArrowColor{
	width: 0px; 
  	height: 0px; 
  	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
  	border-top: 10px solid var(--zcolor-primary);
	position: absolute;
	text-align: center;
	vertical-align: center;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	bottom:-9%;
	transform: translateX(120%);

	}

.shirtLabel{
	background: white;
	margin:0px;
	padding:0px;
	}

.nameLabel,.priceLabel{
	color: var(--zcolor-primary);
	font-size: 22px;
	font-weight: lighter;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 0%;
	padding-top: 2%;
	}

.nameLabel{
	float: left;
	}

.priceLabel{
	font-weight: bold;
	font-size: 22px;
	display: inline-block;
	float: right;
	}

.optionIcon3:hover > .sizePopup{
	visibility: visible;
	opacity: 1;
	transition: .5s ease all;
	}

.button4:hover > .colorPopup{
	visibility: visible;
	opacity: 1;
	transition: .5s ease all;

	}

@media (max-width: 1075px) {

	.optionIcon1,.optionIcon2,.optionIcon3,.optionIcon4,.optionIcon5{
		font-size: 48px;
	}

	}

@media (max-width: 1224px) {

	#lastPost{
		display: block;
		text-align: center;
		vertical-align: center;
		margin: auto;
	}

	.optionIcon1,.optionIcon2,.optionIcon3,.optionIcon4,.optionIcon5{
		font-size: 35px;
		}
	.firstRow > .material-icons{
		font-size: 30px;
		}
	.secondRow > .material-icons{
		font-size: 30px;
		}
	.colorPopup{
		transform: translateX(-31%);
		}
	.downArrowColor{
		transform: translate(54%, 20%);
		}
	.downArrow{
		transform: translateY(29%);
		}
	.sizeIcon1{font-size: 35px;} .sizeIcon2{font-size: 30px;} .sizeIcon3{font-size: 25px;} .sizeIcon4{font-size: 20px;}

	}

@media (max-width: 768px) {
	.postBox{
		margin:auto;
		vertical-align: center;
		text-align: center;
		display: block;
		width: 80%;
		margin-bottom: 20%;
		margin-top: 5%;

		}

	.shirtBox{
		margin-bottom: 2%;
		}

	.optionIcon1,.optionIcon2,.optionIcon3,.optionIcon4,.optionIcon5{
		font-size: 55.2px;
		}

	.firstRow > .material-icons{
		font-size: 50px;
		}

	.secondRow > .material-icons{
		font-size: 50px;
		}

	.downArrowColor{
		transform: translateY(-10%);
		}

	.downArrow{
		transform: translateY(-5%);
		}

	.sizeIcon1{font-size: 50px;} .sizeIcon2{font-size: 45px;} .sizeIcon3{font-size: 40px;} .sizeIcon4{font-size: 35px;}

	.shirtLabel{
		background: white;
		padding-top: 0%;
		}

	.nameLabel,.priceLabel{
		padding-top: 0%;
		color: var(--zcolor-primary);
		display: inline-block;
		margin: 0%;
		}

	.nameLabel{
		float: left;
		padding-left: 1%;
		}

	.priceLabel{
		padding-right: 1%;
		display: inline-block;
		float: right;
	}
	}



